In [1]:
abs(-3)

3

In [4]:
# all : 모든 요소가 참이면 True, 아니면 False
print(all([1,2,3]))
print(all([1,2,3,0]))
# any : 하나라도 참이면 True, 모두 거짓이면 False
print(any([1,2,0]))
print(all(["",0]))

True
False
True
False

In [5]:
# dir : 객체의 멤버(변수 또는 함수)
print('리스트 관련 : ', dir([1,2,3]))
print('딕셔너리 관련 : ', dir({'1':'a'}))

리스트 관련 :  ['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
딕셔너리 관련 :  ['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [7]:
# divmod(x,y) : x를 y로 나눈 몫과 나머지를 튜플 형태로 리턴
print(divmod(7,3))
print(divmod(1.3,0.2))

x, y=divmod(7,3)
print("몫 : ",x)
print("나머지 : ",y)

(2, 1)
(6.0, 0.09999999999999998)
몫 :  2
나머지 :  1

In [8]:
# enumerate : 순서가 있는 자료형(리스트, 튜플, 문자열)을 입력받아 인덱스를 포함해 리턴
for i, num in enumerate([10,20,30,40,50]):
    print(i,num)

0 10
1 20
2 30
3 40
4 50

In [11]:
# eval : 실행가능한 문자열을 입력받아 문자열을 실행한 결과값을 리턴
print(eval('1+2'))
print(1+2)
print(eval('divmod(4,3)'))
print(divmod(4,3))

3
3
(1, 1)
(1, 1)

In [10]:
# hex : 정수값을 입력받아 16진수(hexadecimal)로 변환하여 리턴
print(hex(234))
print(hex(3))

0xea
0x3

In [13]:
# join : 리스트를 특정 구분자를 포함하여 문자열로 변환
fruits=['사과','배','수박','바나나','포도']
print(','.join(fruits)) # 리스트의 각 원소와 쉼표 구분자를 연결
print('/'.join(fruits))
print('\n'.join(fruits))

사과,배,수박,바나나,포도
사과/배/수박/바나나/포도
사과
배
수박
바나나
포도

In [14]:
# len : 요소 전체 개수
a=len('python') # 문자열
b=len([1,2,3]) # 리스트
c=len((1,'a')) # 튜플
print(a)
print(b)
print(c)

6
3
2

In [17]:
# map(function, iterable) : 집합의 각 요소가 함수에 의해 수행된 결과를 묶어서 리턴
def calc(x):
    return x*2
a=list(map(calc,[1,2,3,4]))
print(a)
def plus(x):
    return x+1
a=list(map(plus,[1,2,3,4,5]))
print(a)

[2, 4, 6, 8]
[2, 3, 4, 5, 6]

In [22]:
# max(iterable) : 최댓값 리턴
c="김"
print(c)
print(ord(c)) # ord(str) : 한 글자의 문자 코드를 리턴
b='hello python'
for i in b:
    print(f'{i} ==> {ord(i)}')

a=max([1,2,3])
print(a)
b=max('python')
print(b)

김
44608
h ==> 104
e ==> 101
l ==> 108
l ==> 108
o ==> 111
  ==> 32
p ==> 112
y ==> 121
t ==> 116
h ==> 104
o ==> 111
n ==> 110
3
y

In [26]:
# sorted(iterable) : 입력값을 정렬한 후 그 결과를 리스트로 리턴
a=sorted([3,4,1,2])
print(a)
b=sorted(['d','a','c','b'])
print(b)
c=sorted("zero")
print(c)
# sort() : 정렬후 리턴하지는 않음
items=[3,4,1,2]
result=items.sort()
print(result) # None
print(items)

[1, 2, 3, 4]
['a', 'b', 'c', 'd']
['e', 'o', 'r', 'z']
None
[1, 2, 3, 4]

In [27]:
# zip(iterable) : 동일한 개수로 이루어진 자료형을 묶어주는 역할. 같은 인덱스의 값끼리 튜플로 묶음
a=list(zip([1,2,3],[4,5,6]))
print(a)
b=list(zip([1,2,3],[4,5,6],[7,8,9]))
print(b)
c=list(zip("abc","def"))
print(c)

[(1, 4), (2, 5), (3, 6)]
[(1, 4, 7), (2, 5, 8), (3, 6, 9)]
[('a', 'd'), ('b', 'e'), ('c', 'f')]

In [28]:
# 입력값 : 없음, 리턴값 : 없음
def say():
    print('Hi')
say()

Hi

In [34]:
# 입력값 : 있음, 리턴값 : 없음
def hello(name):
    print('Hello', name)   
hello('David')
a=hello('Daivd')
print(a) # 리턴값이 없으므로 문자에 아무것도 안 담기게 되고 None이 반환됨
print(type(None))

Hello David
Hello Daivd
None
<class 'NoneType'>

In [32]:
def hello2(name=None):
    if name==None:
        print('이름을 입력하세요')
        return
    print('Hello',name)

hello2()
hello2('Sam')

이름을 입력하세요
Hello Sam

In [45]:
# 가변 사이즈 매개변수
# 여러 개의 입력값을 받는 함수
# *변수 : 입력값들을 모두 모아 튜플로 처리
def mysum(*args):
    print(args)
    result=0
    for i in args:
        result+=i
    return result

result=mysum(1,2,3)
print(result)
result=mysum(1,2,3,4,5,6,7,8,9,10)
print(result)

(1, 2, 3)
6
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
55

In [50]:
# 함수의 리턴값은 1개지만 튜플을 이용하여 여러개처럼 처리할 수 있음
def a():
    return 1,2,3,4,5
a,b,c,d,e=a()
print(a,b,c,d,e)

1 2 3 4 5

In [52]:
# 매개변수의 default값 지정
def say(name,age=20):
    print('당신의 이름은 %s입니다.' %name)
    print('당신의 나이는 %d살입니다.' %age)

say('김철수',27)
say('박선영')

SyntaxError: non-default argument follows default argument (<ipython-input-52-ca860e8627f5>, line 9)

In [1]:
# default 입력매개변수는 마지막에 위치해야 함
def say2(name='김철수',age):
    print('당신의 이름은 %s입니다.' %name)
    print('당신의 나이는 %d살입니다.' %age)

say(27) # 첫번째 값이 비어있으므로 에러 발생

SyntaxError: non-default argument follows default argument (<ipython-input-1-5760c5ddadcf>, line 2)

In [6]:
# 지역변수와 전역변수
a=1
def test(a):
    # 입력매개변수 a는 지역변수
    a=a+1    
test(a) # 전역변수 a의 값은 그대로 1
print(a)
def test():
    global a #전역변수 a의 값이 바뀐다.
    a=a+1
test()
print(a)

1
2

In [7]:
# 함수로 딕셔너리 반환
def set_person(name,job,age=''):
    person={'이름':name,'직업':job}
    if age:
        person['나이']=age
    return person
writer=set_person('김철수','작가',27)
print(writer)

{'이름': '김철수', '직업': '작가', '나이': 27}

In [10]:
# 함수에 리스트 전달
def greet(n):
    for name in n:
        msg=name+"님 환영합니다."
        print(msg)

names=['김철수','나철호','송민수']
greet(names)

김철수님 환영합니다.
나철호님 환영합니다.
송민수님 환영합니다.