In [1]:
a=1
print(type(a))
b='a'
print(type(b))

<class 'int'>
<class 'str'>

In [10]:
import math

class MyCircle: # 새로운 클래스 (사용자 정의 자료형)
    def set_r(self,r): # 반지름을 입력하는 함수 : 첫번째 매개변수 self
        # self.변수 : 클래스 전체에서 사용할 수 있는 변수
        # self가 붙지 않은 변수 : 지역변수
        self.r=r
    def length(self): # 둘레 계산
        self.a=2*math.pi*self.r
    def area(self): # 넓이 계산
        self.b=math.pi*self.r*self.r
    def disp(self): # 출력
        print('반지름 : {}, 둘레 : {:.2f}, 넓이:{:.2f}'.format(self.r,self.a,self.b))

In [11]:
a=MyCircle()
a.set_r(50)
a.length()
a.area()
a.disp()

반지름 : 50, 둘레 : 314.16, 넓이:7853.98

In [14]:
# Person 1 : 변수들로만 구성된 클래스
class Person:
    name=''
    age=0
    height=0

p1=Person()
p1.name='김철수'
p1.age=20
p1.height=187.7
print(f'이름 : {p1.name}, 나이 : {p1.age}, 키 : {p1.height}')

이름 : 김철수, 나이 : 20, 키 : 187.7

In [15]:
# Person 2 : 함수가 추가됨, 클래스의 멤버함수(method)
class Person:
    name=''
    age=0
    height=0
    # 첫번째 매개변수는 self를 써야함
    # self : 현재 인스턴스의 시작번지값, self.변수 : 클래스의 멤버변수
    def disp(self):
        print(f'이름 : {self.name}, 나이 : {self.age}, 키 : {self.height}')

p2=Person()
p2.name='김철수'
p2.age=-50
p2.height=178.7
p2.disp()

이름 : 김철수, 나이 : -50, 키 : 178.7

In [20]:
# Person 3
class Person:
    name=''
    age=0
    height=0
    def set_age(self,age):
        if age>100 or age<0:
            self.age=int(input('나이를 정확히 입력하세요:'))
        else:
            self.age=age

    def disp(self):
        print(f'이름 : {self.name}, 나이 : {self.age}, 키 : {self.height}')

p3=Person()
p3.name='김철수'
p3.set_age(-100)
p3.height=178.7
p3.disp()

이름 : 김철수, 나이 : 20, 키 : 178.7

In [21]:
# Emp 1
class Emp:
    name=''
    salary=0
    bonus=0
    money=0

e1=Emp()
e1.name='김철수'
e1.salary=500
e1.bonus=300
e1.money=e1.salary*12+e1.bonus
print(f'이름 : {e1.name}, 월급 : {e1.salary}, 보너스 : {e1.bonus}, 연봉 : {e1.money}')

이름 : 김철수, 월급 : 500, 보너스 : 300, 연봉 : 6300

In [22]:
# Emp 2
class Emp:
    name=''
    salary=0
    bonus=0
    money=0

    def disp(self): # 출력함수
        print(f'이름 : {self.name}, 월급 : {self.salary}, 보너스 : {self.bonus}, 연봉 : {self.money}')

e2=Emp()
e2.name='김철수'
e2.salary=500
e2.bonus=300
e2.money=e2.salary*12+e2.bonus
e2.disp()

이름 : 김철수, 월급 : 500, 보너스 : 300, 연봉 : 6300

In [23]:
# Emp 3
class Emp:
    name=''
    salary=0
    bonus=0
    money=0

    def __init__(self,name,salary,bonus): # 초기화 함수 (인스턴스를 만들 때 자동으로 호출되는 함수)
        self.name=name    
        self.salary=salary    
        self.bonus=bonus    

    def disp(self): # 출력함수
        print(f'이름 : {self.name}, 월급 : {self.salary}, 보너스 : {self.bonus}, 연봉 : {self.money}')

        

e3=Emp('김철수',500,700) # 인스턴스 생성, 괄호 안의 값들이 init 함수에 전달됨
e3.money=e3.salary*12+e3.bonus
e3.disp()

이름 : 김철수, 월급 : 500, 보너스 : 700, 연봉 : 6700

In [26]:
# Emp 4
class Emp:
    name=''
    salary=0
    bonus=0
    money=0

    def __init__(self,name,salary,bonus): # 초기화 함수 (인스턴스를 만들 때 자동으로 호출되는 함수)
        self.name=name    
        self.salary=salary    
        self.bonus=bonus    

    def calc(self):
        self.money=self.salary*12+self.bonus

    def disp(self): # 출력함수
        print(f'이름 : {self.name}, 월급 : {self.salary}, 보너스 : {self.bonus}, 연봉 : {self.money}')

        

e4=Emp('김철수',300,300) # 인스턴스 생성, 괄호 안의 값들이 init 함수에 전달됨
e4.calc()
e4.disp()

이름 : 김철수, 월급 : 300, 보너스 : 300, 연봉 : 3900

In [31]:
# Point 1
class Point:
    name=''
    kor=0
    eng=0
    mat=0
    tot=0
    avg=0
    grade=''

p1=Point()
p1.name='김철수'
p1.kor=80
p1.eng=90
p1.mat=95
p1.tot=p1.kor+p1.eng+p1.mat
p1.avg=p1.tot/3
if 90<=p1.avg<=100:
    p1.grade='A'
elif 80<=p1.avg<90:
    p1.grade='B'
elif 70<=p1.avg<80:
    p1.grade='C'
elif 60<=p1.avg<70:
    p1.grade='D'
else:
    p1.grade='F'

print('이름\t국어\t영어\t수학\t총점\t평균\t등급')
print(f'{p1.name}\t{p1.kor}\t{p1.eng}\t{p1.mat}\t{p1.tot}\t{p1.avg:.1f}\t{p1.grade}')

이름	국어	영어	수학	총점	평균	등급
김철수	80	90	95	265	88.3	B

In [32]:
# Point 2
class Point:
    name=''
    kor=0
    eng=0
    mat=0
    tot=0
    avg=0
    grade=''

    def __init__(self,name,kor,eng,mat): # 초기화함수
        self.name=name
        self.kor=kor
        self.eng=eng
        self.mat=mat

p2=Point('김철수',88,99,100)
p2.tot=p2.kor+p2.eng+p2.mat
p2.avg=p2.tot/3
if 90<=p2.avg<=100:
    p2.grade='A'
elif 80<=p2.avg<90:
    p2.grade='B'
elif 70<=p2.avg<80:
    p2.grade='C'
elif 60<=p2.avg<70:
    p2.grade='D'
else:
    p2.grade='F'

print('이름\t국어\t영어\t수학\t총점\t평균\t등급')
print(f'{p2.name}\t{p2.kor}\t{p2.eng}\t{p2.mat}\t{p2.tot}\t{p2.avg:.1f}\t{p2.grade}')

이름	국어	영어	수학	총점	평균	등급
김철수	88	99	100	287	95.7	A

In [33]:
# Point 3
class Point:
    def __init__(self,name,kor,eng,mat): # 초기화함수
        self.name=name
        self.kor=kor
        self.eng=eng
        self.mat=mat

    def calc(self):
        self.tot=self.kor+self.eng+self.mat
        self.avg=self.tot/3
        if 90<=self.avg<=100:
            self.grade='A'
        elif 80<=self.avg<90:
            self.grade='B'
        elif 70<=self.avg<80:
            self.grade='C'
        elif 60<=self.avg<70:
            self.grade='D'
        else:
            self.grade='F'

p3=Point('김철수',68,69,100)
p3.calc()
print('이름\t국어\t영어\t수학\t총점\t평균\t등급')
print(f'{p3.name}\t{p3.kor}\t{p3.eng}\t{p3.mat}\t{p3.tot}\t{p3.avg:.1f}\t{p3.grade}')

이름	국어	영어	수학	총점	평균	등급
김철수	68	69	100	237	79.0	C

In [34]:
# Point 4
class Point:
    def __init__(self,name,kor,eng,mat): # 초기화함수
        self.name=name
        self.kor=kor
        self.eng=eng
        self.mat=mat

    def calc(self):
        self.tot=self.kor+self.eng+self.mat
        self.avg=self.tot/3
        if 90<=self.avg<=100:
            self.grade='A'
        elif 80<=self.avg<90:
            self.grade='B'
        elif 70<=self.avg<80:
            self.grade='C'
        elif 60<=self.avg<70:
            self.grade='D'
        else:
            self.grade='F'

    def disp(self):
        print('이름\t국어\t영어\t수학\t총점\t평균\t등급')
        print(f'{self.name}\t{self.kor}\t{self.eng}\t{self.mat}\t{self.tot}\t{self.avg:.1f}\t{self.grade}')    

p4=Point('김철수',78,79,100)
p4.calc()
p4.disp()

이름	국어	영어	수학	총점	평균	등급
김철수	78	79	100	257	85.7	B

In [35]:
# 클래스의 상속
class Book:
    def __init__(self,name,price):
        self.name=name
        self.price=price
    
    def disp(self):
        print(f'{self.name}\t{self.price}')

class BookSale(Book): # class 하위클래스(상위클래스,상위클래스) ※ 다중 상속 가능
    def __init__(self,name,price,amount):
        Book.__init__(self,name,price) # 상위클래스의 초기화 함수에 값 전달
        self.amount=amount
        
    def calc(self):
        self.money=self.price*self.amount
        if 1<=self.amount<=1000:
            self.fee=self.money*0.01
        elif 1001<=self.amount<=3000:
            self.fee=self.money*0.03
        elif 3001<=self.amount:
            self.fee=self.money*0.05

    def disp(self):
        print(f'{self.name}\t{self.price}\t{self.amount}\t{self.money}\t{self.fee}')

In [36]:
b1=BookSale('Java',50000,1000)
b1.calc()
b1.disp()

b2=BookSale('C',40000,2500)
b2.calc()
b2.disp()

b3=BookSale('Python',35000,3500)
b3.calc()
b3.disp()

Java	50000	1000	50000000	500000.0
C	40000	2500	100000000	3000000.0
Python	35000	3500	122500000	6125000.0