In [1]:
# 두 개의 단어가 주어진 문맥에서 서로 얼마나 연관되어 있는지
# 1. 동시출현 기반 연관어 분석 - 대상어와 다른 단어들이 같은 문맥 내에서 동시에 출현한 횟수를 세는 방법
# 두 단어가 같은 문맥 내에서 함께 나타나는 빈도가 높을수록 강한 연관관계가 성립한다는 가정
# 한 문장에서 한 단어가 여러번 중복되어 나타날 경우 1회로 계산하거나, n회로 계산. 1회가 일반적인 방법

In [2]:
import glob

pos_review=(glob.glob('d:/data/imdb/train/pos/*.txt'))[0:100] # 긍정 리뷰 100개 로딩

lines_pos=[]
for i in pos_review:
    try:
        f=open(i, 'r')
        temp=f.readlines()[0]
        lines_pos.append(temp)
        f.close()
    except Exception as e:
        continue

len(lines_pos)

100

In [5]:
from nltk.tokenize import RegexpTokenizer
from nltk.corpus import stopwords
import pandas as pd

tokenizer=RegexpTokenizer('[\w]+')
stop_words=stopwords.words('english')
# 동시출현 단어 계산
count={} # 동시출현 빈도가 저장될 dict
for line in lines_pos:
    words=line.lower()
    tokens=tokenizer.tokenize(words)
    stopped_tokens=[i for i in list(set(tokens)) if i not in stop_words+["br"]] # 불용어 제거, 불용어에 br 추가
    stopped_tokens2=[i for i in stopped_tokens if len(i)>1] # 한 글자 단어 제외
    for i, a in enumerate(stopped_tokens2):
        for b in stopped_tokens2[i+1:]:
            if a>b:
                count[b,a]=count.get((b,a),0)+1
            else:
                count[a,b]=count.get((a,b),0)+1

df=pd.DataFrame.from_dict(count, orient='index') # 딕셔너리로부터 데이터프레임 생성
# 리스트 구성
list1=[]
for i in range(len(df)):
    list1.append([df.index[i][0], df.index[i][1], df[0][i]])

df2=pd.DataFrame(list1, columns=['term1','term2','freq'])
df3=df2.sort_values(by=['freq'], ascending=False)
df3_pos=df3.reset_index(drop=True)
df3_pos.head(20) # 동시출현 단어 페어 빈도 상위 20쌍 출력
# movie와 one이 총 41회 동시에 출현

    term1  term2  freq
0   movie    one    41
1    film  story    41
2   movie  story    35
3    film  movie    35
4     one  story    33
5    good  movie    32
6    film    one    31
7   movie    see    30
8     one    see    27
9    film   like    27
10   film   good    26
11   like  movie    26
12   good  story    26
13  great  movie    26
14   film   time    25
15  movie   time    25
16  movie   much    25
17   good    one    25
18   film   well    25
19   film    see    24