In [8]:
import cx_Oracle
conn=cx_Oracle.connect("hr/hr@localhost:1521/xe")
cursor=conn.cursor()
sql='select count(*) from product' # 레코드 개수
cursor.execute(sql)
count=cursor.fetchone()
print('상품 개수 : ',count[0])

상품 개수 :  6

In [24]:
sql='delete from product' # 모든 레코드 삭제
cursor.execute(sql)
conn.commit()

In [14]:
items=[(1,'레몬',1500,'레몬에 포함된 구연산은 피로회복에 좋습니다. 비타민 C도 풍부합니다.','lemon.jpg'),
(2,'오렌지',2000,'비타민 C가 풍부합니다. 생과일 주스로 마시면 좋습니다.','orange.jpg'),
(3,'키위',3000,'비타민 C가 매우 풍부합니다. 다이어트나 미용에 좋습니다.','kiwi.jpg'),
(4,'포도',5000,'폴리페놀을 다량 함유하고 있어 항산화 작용을 합니다.','grape.jpg'),
(5,'딸기',8000,'비타민 C나 플라보노이드를 다량 함유하고 있습니다.','strawberry.jpg'),
(6,'귤',7000,'시네피린을 함유하고 있어 감기 예방에 좋다고 합니다.','tangerine.jpg')]

for row in items:
    sql='insert into product values (:1,:2,:3,:4,:5)'
    cursor.execute(sql,row)

conn.commit()

IntegrityError: ORA-00001: unique constraint (HR.SYS_C007739) violated

In [26]:
sql='select * from product' # 전체 레코드
cursor.execute(sql)
for row in cursor:
    description=row[3].read()
    print(row) # clob은 출력 불가 - 주소값이 나옴
    print(description) # clob 별도 출력

(1, '레몬', 1500, <cx_Oracle.LOB object at 0x000002567D321750>, 'lemon.jpg')
레몬에 포함된 구연산은 피로회복에 좋습니다. 비타민 C도 풍부합니다.
(2, '오렌지', 2000, <cx_Oracle.LOB object at 0x000002567D21A720>, 'orange.jpg')
비타민 C가 풍부합니다. 생과일 주스로 마시면 좋습니다.
(3, '키위', 3000, <cx_Oracle.LOB object at 0x000002567D21A420>, 'kiwi.jpg')
비타민 C가 매우 풍부합니다. 다이어트나 미용에 좋습니다.
(4, '포도', 5000, <cx_Oracle.LOB object at 0x000002567D21A720>, 'grape.jpg')
폴리페놀을 다량 함유하고 있어 항산화 작용을 합니다.
(5, '딸기', 8000, <cx_Oracle.LOB object at 0x000002567D321750>, 'strawberry.jpg')
비타민 C나 플라보노이드를 다량 함유하고 있습니다.
(6, '귤', 7000, <cx_Oracle.LOB object at 0x000002567D21A420>, 'tangerine.jpg')
시네피린을 함유하고 있어 감기 예방에 좋다고 합니다.

In [17]:
sql='delete from product where product_id=6' # 일부 레코드 삭제
cursor.execute(sql)
conn.commit()

In [25]:
sql='insert into product values (:1,:2,:3,:4,:5)' # 모든 레코드를 한꺼번에 입력
cursor.bindarraysize=len(items)
cursor.executemany(sql,items)
conn.commit()

In [27]:
# 모든 레코드를 한꺼번에 조회하여 리스트로 저장
sql='select * from product'
cursor.execute(sql)
rs=cursor.fetchall()
print('\n레코드셋 : ',rs)
for row in rs:
    print(row)

conn.commit()
cursor.close()
conn.close()

레코드셋 :  [(1, '레몬', 1500, <cx_Oracle.LOB object at 0x000002567D321F30>, 'lemon.jpg'), (2, '오렌지', 2000, <cx_Oracle.LOB object at 0x000002567D35BE70>, 'orange.jpg'), (3, '키위', 3000, <cx_Oracle.LOB object at 0x000002567D35BF60>, 'kiwi.jpg'), (4, '포도', 5000, <cx_Oracle.LOB object at 0x000002567D3172A0>, 'grape.jpg'), (5, '딸기', 8000, <cx_Oracle.LOB object at 0x000002567D317060>, 'strawberry.jpg'), (6, '귤', 7000, <cx_Oracle.LOB object at 0x0000025602D43D50>, 'tangerine.jpg')]
(1, '레몬', 1500, <cx_Oracle.LOB object at 0x000002567D321F30>, 'lemon.jpg')
(2, '오렌지', 2000, <cx_Oracle.LOB object at 0x000002567D35BE70>, 'orange.jpg')
(3, '키위', 3000, <cx_Oracle.LOB object at 0x000002567D35BF60>, 'kiwi.jpg')
(4, '포도', 5000, <cx_Oracle.LOB object at 0x000002567D3172A0>, 'grape.jpg')
(5, '딸기', 8000, <cx_Oracle.LOB object at 0x000002567D317060>, 'strawberry.jpg')
(6, '귤', 7000, <cx_Oracle.LOB object at 0x0000025602D43D50>, 'tangerine.jpg')