In [1]:
import pymongo
from pymongo import MongoClient

In [2]:
# 비인증모드로 접속
conn=MongoClient('localhost',27017)
conn

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [3]:
# 인증모드로 접속
id='web'
pwd='1234'
conn=MongoClient('mongodb://%s:%s@localhost/web' % (id,pwd))
conn

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [4]:
# db 생성
db=conn.web
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'web')

In [5]:
# 컬렉션 생성
students=db.students
students

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'web'), 'students')

In [6]:
# 컬렉션에 저장된 모든 문서들을 제거
try:
    students.drop()
except:
    print('자료가 없습니다.')

In [7]:
# 도큐먼트 생성
row1={'no':1, 'name':'김철수', 'kor':90, 'eng':80, 'mat':77}
row2={'no':2, 'name':'박은성', 'kor':95, 'eng':83, 'mat':76}
row3={'no':3, 'name':'송영희', 'kor':92, 'eng':87, 'mat':75}

# 레코드 추가
students.insert_one(row1)
students.insert_one(row2)
students.insert_one(row3)

# 전체 도큐먼트 조회
rows=students.find()
for row in rows:
    print(row)

{'_id': ObjectId('61972643970d8649372170ec'), 'no': 1, 'name': '김철수', 'kor': 90, 'eng': 80, 'mat': 77}
{'_id': ObjectId('61972644970d8649372170ed'), 'no': 2, 'name': '박은성', 'kor': 95, 'eng': 83, 'mat': 76}
{'_id': ObjectId('61972644970d8649372170ee'), 'no': 3, 'name': '송영희', 'kor': 92, 'eng': 87, 'mat': 75}

In [8]:
# 문서 개별 삭제
students.delete_one({'no':3})

In [9]:
# 전체 도큐먼트 조회
rows=students.find()
for row in rows:
    print(row)

{'_id': ObjectId('61972643970d8649372170ec'), 'no': 1, 'name': '김철수', 'kor': 90, 'eng': 80, 'mat': 77}
{'_id': ObjectId('61972644970d8649372170ed'), 'no': 2, 'name': '박은성', 'kor': 95, 'eng': 83, 'mat': 76}

In [10]:
# 도큐먼트 수정
students.update_one({'no':1},{'$set':{'kor':100,'eng':100}})

In [14]:
# 일괄 수정
rows=students.find()
for row in rows:
    tot=row['kor']+row['eng']+row['mat']
    avg=tot/3
    if avg>=90:
        grade='A'
    elif 80<=avg<90:
        grade='B'
    elif 70<=avg<80:
        grade='C'
    elif 60<=avg<70:
        grade='D'
    else:
        grade='F'
    students.update_one({'no':row['no']}, {'$set':{'tot':tot,'avg':avg,'grade':grade}})

rows=students.find()
for row in rows:
    print(row)

{'_id': ObjectId('61972643970d8649372170ec'), 'no': 1, 'name': '김철수', 'kor': 100, 'eng': 100, 'mat': 77, 'avg': 92.33333333333333, 'grade': 'A', 'tot': 277}
{'_id': ObjectId('61972644970d8649372170ed'), 'no': 2, 'name': '박은성', 'kor': 95, 'eng': 83, 'mat': 76, 'avg': 84.66666666666667, 'grade': 'B', 'tot': 254}

In [15]:
rows=students.find()
print('학번\t이름\t국어\t영어\t수학\t총점\t평균\t등급')
print('='*60)
for row in rows:
    print(f"{row['no']}\t{row['name']}\t{row['kor']}\t{row['eng']}\t{row['mat']}\t{row['tot']}\t{row['avg']:.1f}\t{row['grade']}")

학번	이름	국어	영어	수학	총점	평균	등급
============================================================
1	김철수	100	100	77	277	92.3	A
2	박은성	95	83	76	254	84.7	B