In [3]:
from sklearn import datasets # 사이킷런
iris=datasets.load_iris()
iris['feature_names']

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [4]:
import numpy as np
import pandas as pd
df=pd.DataFrame(data=np.c_[iris.data, iris.target], columns=iris['feature_names']+['target'])
df['target']=df['target'].map({0:'setosa', 1:'versicolor', 2:'virginica'})
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [4]:
df.to_csv("d:/data/iris/iris1.csv")

In [5]:
X=df.iloc[:, :-1]
y=df.iloc[:, [-1]]
print(X[:5])
print(y[:5])
print(X.shape)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2
   target
0  setosa
1  setosa
2  setosa
3  setosa
4  setosa
(150, 4)

In [6]:
arr=X.mean()
print(arr)

sepal length (cm)    5.843333
sepal width (cm)     3.057333
petal length (cm)    3.758000
petal width (cm)     1.199333
dtype: float64

In [7]:
import numpy as np
np.savetxt('d:/data/iris/avg.csv',arr,fmt='%.1f',delimiter=',')

In [5]:
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()
engine=create_engine("mysql+mysqldb://web:1234@localhost/myweb",encoding='utf-8')
df.columns=['sepal_length','sepal_width','petal_length','petal_width','target'] # 필드명 지정
conn=engine.connect()
df.to_sql(name='iris',con=engine,if_exists='replace',index=False)